## First list of exercises

#### Ordered from the easiest to the "hardest"

https://edabit.com/challenges/python3

1) Write a function that takes an integer minutes and converts it to seconds. <font color='green'>(EASY)</font>

In [ ]:

def seconds(x):
 return x*60

In [ ]:
seconds(5)

300

2) Create a function that converts a date formatted as MM/DD/YYYY to YYYYDDMM.

In [ ]:
# Quebrar por /; realocar de acordo com posição
def date_inverter(d):
  lista = d.split('/')
  return (lista[2] + lista[1] + lista[0])

In [ ]:
date_inverter('03/20/1977')

'19772003'

3) A typical car can hold four passengers and one driver, allowing five people to travel around. Given n number of people, `return` how many cars are needed to seat everyone comfortably.

In [ ]:
def car(n):
  if n%5 == 0:
    return (n/5)
  if n%5 !=0:
    return int((n/5))+1

In [ ]:
car(26)

6

4) Create a function that replaces all the vowels in a string with the character '#'.

In [ ]:
vogais = ['a','e','i','o','u','A','E','I','O','U']
def no_vowel(xpto):
  for element in vogais:
     xpto = xpto.replace(element,'#')
  return xpto

In [ ]:
no_vowel('areia')

'#r###'

5) Write a function that inverts the keys and values of a dictionary.

In [ ]:
#Ref aula 6 - Comprehensions_Generators
def inverting_dict(dictx):
  dict_new = {value:key for key, value in dictx.items()}
  return dict_new

In [ ]:
inverting_dict({'String': 1, 'Set': 2, 'List': 3, 'Dictionary': 4})

{1: 'String', 2: 'Set', 3: 'List', 4: 'Dictionary'}

6) Create a function that takes a list of strings and return a list, sorted from shortest to longest.

In [ ]:
def short_long(*args):
  list =  sorted(args, key=len)
  return list

In [ ]:
short_long('Python', 'is', 'kiling', 'myself')

['is', 'Python', 'kiling', 'myself']

7) Create a function that returns True if the first list is a subset of the second. Return False otherwise.

In [ ]:
list2 = [1,2,3]
list1 = [1]
set1 = set(list1)
set2 = set(list2)
subset = set1.issubset(set2)
print(subset)

True

In [ ]:
def check_subset(list1,list2):
  subset = set(list1).issubset(set(list2))
  return(subset)

In [ ]:
check_subset([2,2,3],[1,2,3,4,5])

True

8) Create a function that takes an integer and returns the factorial of that integer. That is, the integer multiplied by all positive lower integers.

In [ ]:
# Ref exercicio fibo ruim (recursiva)
def fatorial(fator):
  if fator <2:
    return 1
  else:
    return fator*fatorial(fator-1)

In [ ]:
fatorial(4)

24

9) Create a function that takes a number as an argument and returns how many times it is multiple of 3.

In [ ]:
def mult3(n):
  count = 0
  while n >=1:
    if n%3 == 0:
      n = n/3
      count += 1
    else:
      break

  return count

In [ ]:
mult3(7)

0

In [ ]:
mult3(81)

4

10) Create a function that sorts a list and removes all duplicate items from it. (Don't use 'set')

In [ ]:
def no_duplicates(lista):
  clean_lista = []
  lista.sort()
  for elem in lista:
    if elem in clean_lista:
      pass
    else:
      clean_lista.append(elem)
  return clean_lista

In [ ]:
no_duplicates([5,5,5,5,5,5,5,2,3])

[2, 3, 5]

In [ ]:
no_duplicates([2,3])

[2, 3]